
<h1>Daily Inspiration For <%= Quote.today %>:</h1>
<div class="letter">
  <p id="quote"> "<%= @quote %>"</p>
  <p id="author"> --<%= @author %> </p>
</div>
<p class="tlt" data-in-effect="fadeInLeft">test it out</p>



