
<h1>Daily Inspiration For <%= Quote.today %>:</h1>

<div class="letter" >
<div class= "tlt" data-in-effect="fadeInLeft">
  <p id="quote"> "<%= @quote %>"</p><br>
  <p id="author"> --<%= @author %> </p>
</div>
</div>



